* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

:root {
	--primary: #dd191f;
	--secondary: #a0bd1f;
	--tertiary: #fffef1;
	--quinary: #fcdcc5;
	--bgcolor: #f5e3d0;
	scroll-behavior: smooth;
}

html {
	background-color: var(--bgcolor);
}

h1,
h2 {
	font-family: "Notable", serif;
	color: var(--primary);
	cursor: default;
}

h3,
h4,
h5,
p {
	font-family: "sligoil", serif;
	color: var(--secondary);
	cursor: default;
}

a,
li {
	font-family: inherit;
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
}
